<div class="hero">
	<div class="hero-bg"></div>
	<div class="hero-bg-mask"></div>
	<div class="owl-carousel">
		<div class="hero-item">
			<img src="./img/hero-item-1.jpg" alt="img" />
		</div>
		<div class="hero-item">
			<img src="./img/hero-item-2.jpg" alt="img" />
		</div>
		<div class="hero-item">
			<img src="./img/hero-item-3.jpg" alt="img" />
		</div>
	</div>
	<div class="container">
		<a href="/" class="logo">
			<img src="./img/hero-logo.png" alt="img" />
		</a>
		<button class="hero__btn-menu"></button>
	</div>
</div>
